In [0]:
import pyspark 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark_SQL Operations').getOrCreate()

In [0]:
df = spark.read.csv('/FileStore/tables/table1/jobs_in_data.csv',header=True)
df.show()

+---------+--------------------+--------------------+---------------+------+-------------+------------------+----------------+---------------+------------+----------------+------------+
|work_year|           job_title|        job_category|salary_currency|salary|salary_in_usd|employee_residence|experience_level|employment_type|work_setting|company_location|company_size|
+---------+--------------------+--------------------+---------------+------+-------------+------------------+----------------+---------------+------------+----------------+------------+
|     2023|Data DevOps Engineer|    Data Engineering|            EUR| 88000|        95012|           Germany|       Mid-level|      Full-time|      Hybrid|         Germany|           L|
|     2023|      Data Architect|Data Architecture...|            USD|186000|       186000|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|      Data Architect|Data Architecture...|            USD| 81800|        81800|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            USD|212000|       212000|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            USD| 93300|        93300|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            USD|130000|       130000|     United States|          Senior|      Full-time|      Remote|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            USD|100000|       100000|     United States|          Senior|      Full-time|      Remote|   United States|           M|
|     2023|Machine Learning ...|Machine Learning ...|            USD|224400|       224400|     United States|       Mid-level|      Full-time|   In-person|   United States|           M|
|     2023|Machine Learning ...|Machine Learning ...|            USD|138700|       138700|     United States|       Mid-level|      Full-time|   In-person|   United States|           M|
|     2023|       Data Engineer|    Data Engineering|            USD|210000|       210000|     United States|       Executive|      Full-time|      Remote|   United States|           M|
|     2023|       Data Engineer|    Data Engineering|            USD|168000|       168000|     United States|       Executive|      Full-time|      Remote|   United States|           M|
|     2023|Machine Learning ...|Machine Learning ...|            USD|224400|       224400|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|Machine Learning ...|Machine Learning ...|            USD|138700|       138700|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            GBP| 35000|        43064|    United Kingdom|       Mid-level|      Full-time|   In-person|  United Kingdom|           M|
|     2023|      Data Scientist|Data Science and ...|            GBP| 30000|        36912|    United Kingdom|       Mid-level|      Full-time|   In-person|  United Kingdom|           M|
|     2023|        Data Analyst|       Data Analysis|            USD| 95000|        95000|     United States|     Entry-level|      Full-time|   In-person|   United States|           M|
|     2023|        Data Analyst|       Data Analysis|            USD| 75000|        75000|     United States|     Entry-level|      Full-time|   In-person|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            USD|300000|       300000|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            USD|234000|       234000|     United States|          Senior|      Full-time|   In-person|   United States|           M|
+---------+--------------------+--------------------+---------------+------+-------------+------------------+----------------+---------------+------------+----------------+------------+

In [0]:
df.createOrReplaceTempView("sampleView")

In [0]:
spark.sql("SELECT * from sampleView")

Out[20]: DataFrame[work_year: string, job_title: string, job_category: string, salary_currency: string, salary: string, salary_in_usd: string, employee_residence: string, experience_level: string, employment_type: string, work_setting: string, company_location: string, company_size: string]

In [0]:
# Create a Database CT
spark.sql("CREATE DATABASE IF NOT EXISTS Test")
 
# Create a Table naming as sampleTable under CT database.
spark.sql("CREATE TABLE Test.sampleTable1 (year Int, title String, salary INT)")
 
# Insert into sampleTable using the sampleView.
spark.sql("INSERT INTO TABLE Test.sampleTable1  SELECT work_year,job_title,salary FROM sampleView")
 
# Lets view the data in the table
spark.sql("SELECT * FROM Test.sampleTable1").show()

+----+--------------------+------+
|year|               title|salary|
+----+--------------------+------+
|2023|Data DevOps Engineer| 88000|
|2023|      Data Architect|186000|
|2023|      Data Architect| 81800|
|2023|      Data Scientist|212000|
|2023|      Data Scientist| 93300|
|2023|      Data Scientist|130000|
|2023|      Data Scientist|100000|
|2023|Machine Learning ...|224400|
|2023|Machine Learning ...|138700|
|2023|       Data Engineer|210000|
|2023|       Data Engineer|168000|
|2023|Machine Learning ...|224400|
|2023|Machine Learning ...|138700|
|2023|      Data Scientist| 35000|
|2023|      Data Scientist| 30000|
|2023|        Data Analyst| 95000|
|2023|        Data Analyst| 75000|
|2023|      Data Scientist|300000|
|2023|      Data Scientist|234000|
+----+--------------------+------+

In [0]:
spark.sql("UPDATE Test.sampleTable1 set year=2024 WHERE salary>150000")

Out[9]: DataFrame[num_affected_rows: bigint]

In [0]:
spark.sql("SELECT * FROM Test.sampleTable1").show()

+----+--------------------+------+
|year|               title|salary|
+----+--------------------+------+
|2023|Data DevOps Engineer| 88000|
|2024|      Data Architect|186000|
|2023|      Data Architect| 81800|
|2024|      Data Scientist|212000|
|2023|      Data Scientist| 93300|
|2023|      Data Scientist|130000|
|2023|      Data Scientist|100000|
|2024|Machine Learning ...|224400|
|2023|Machine Learning ...|138700|
|2024|       Data Engineer|210000|
|2024|       Data Engineer|168000|
|2024|Machine Learning ...|224400|
|2023|Machine Learning ...|138700|
|2023|      Data Scientist| 35000|
|2023|      Data Scientist| 30000|
|2023|        Data Analyst| 95000|
|2023|        Data Analyst| 75000|
|2024|      Data Scientist|300000|
|2024|      Data Scientist|234000|
+----+--------------------+------+

In [0]:
spark.sql("DROP TABLE Test.sampleTable")

Out[27]: DataFrame[]