# Variables

In [5]:
x = 10 
name = "John"
Bool = True
a = 10.50

# Data Types

1. Numeric : int, float,complex

In [17]:
# int: Integer data type represents whole numbers.
age = 25 
print(type(age))

<class 'int'>

In [13]:
# float: Floating-point data type represents decimal numbers.
temp = 98.6 
print(type(temp))

<class 'float'>

In [14]:
# complex : Complex numbers have a real and imaginary part.
complex_num = 2 + 3j 
print(type(complex_num))

<class 'complex'>

2. Text : str

In [15]:
 # string : String data type represents sequences of characters.
name = "Alice"
print(type(name))

<class 'str'>

3. Boolean : bool

In [16]:
# Boolean : Boolean data type represents truth values, either True or False.
Boolean = True 
print(type(Boolean))

<class 'bool'>

4. Sequence : list, tuple

In [18]:
# list : A list is an ordered collection that can contain elements of different data types.
my_list = [1, 2, "three", 4.0]
print(type(my_list))

<class 'list'>

In [19]:
# tuple : A tuple is an ordered, immutable collection.
my_tuple = (1, 2, "three", 4.0)
print(type(my_tuple))

<class 'tuple'>

# Operators

1. Arithmetic operators

In [20]:
a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

13
7
30
3.3333333333333335
1
1000
3

2. Assignment operators

In [22]:
x = 5
y = 7
x += 3
y -= 3
print(x,y)

8 4

3. Comparison operators

In [23]:
x = 5
y = 3
print(x == y)
print(x != y)
print(x <= y)
print(x >= y)

False
True
False
True

4. Logical Operators

In [24]:
a = True
b = False
print(a and b) 
print(a or b) 
print(not a)

False
True
False

5. Bitwise Operators

In [25]:
a = 10
b = 4
print(a & b) 
print(a | b) 
print(~a) 
print(a ^ b) 
print(a >> 2) 
print(a << 2)

0
14
-11
14
2
40

# Control Structure

In [29]:
# if

i = 10
  
if (i > 15): 
    print("10 is less than 15") 
    
print("Outside if")

Outside if

In [30]:
# if-else

i = 20
if (i < 15): 
    print("if Block")
    print(f"{i} is smaller than 15") 
else: 
    print("else Block")
    print(f"{i} is greater than 15") 
     
print("not in if and not in else Block")

else Block
20 is greater than 15
not in if and not in else Block

In [31]:
# if-elif-else

i = 20
if (i == 10): 
    print("i is 10") 
elif (i == 15): 
    print("i is 15") 
elif (i == 20): 
    print("i is 20") 
else: 
    print("i is not present")

i is 20

In [32]:
# For loop
for letter in "Hello World":
        print(letter)

H
e
l
l
o

W
o
r
l
d

In [1]:
# While Loop 
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [2]:
# Nested Loop
lst=[]
for x in [1,2,3]:
    for y in [10,100,1000]:
        lst.append(x*y)
lst

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]

In [3]:
# break
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [4]:
#pass
for x in [0, 1, 2]:
  pass

In [5]:
# continue
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [6]:
# INPUT AND OUTPUT
user_input = input("Enter something: ")
print("You entered:", user_input)

Enter something: 3
You entered: 3

# LISTS, Slicing and Methods

In [7]:
my_list=[1,2,3]

In [8]:
my_list=[1,'string',23.4]

In [10]:
first_element = my_list[0]  # Accessing the first element
second_element = my_list[1]  # Accessing the second element
print(first_element,second_element)

1 string

In [11]:
last_element = my_list[-1] 
print(last_element)

23.4

In [13]:
my_list=[1,'string',23.4]
my_list[1] = 10 
print(my_list)

[1, 10, 23.4]

In [14]:
my_list.append(6)
print(my_list)

[1, 10, 23.4, 6]

In [15]:
my_list.insert(2, 7) 
print(my_list)

[1, 10, 7, 23.4, 6]

In [17]:
my_list.remove(6) 
print(my_list)

[1, 10, 7, 23.4]

In [18]:
popped_element = my_list.pop(1)
print(my_list)

[1, 7, 23.4]

In [19]:
num_list = [1,9,334,90,2]
num_list.sort()
num_list

[1, 2, 9, 90, 334]

In [20]:
num_list.reverse()
num_list

[334, 90, 9, 2, 1]

In [21]:
subset = my_list[1:4] 
subset

[7, 23.4]

In [22]:
num_list[::-1]

[1, 2, 9, 90, 334]

# DICTIONARIES and Methods

In [23]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
my_dict

{'name': 'John', 'age': 25, 'city': 'New York'}

In [25]:
name_value = my_dict['name']
age_value = my_dict['age']
print(name_value,age_value)

John 25

In [26]:
my_dict['age'] = 26  # Modifying the value associated with the 'age' key
my_dict['gender'] = 'Male'  # Adding a new key-value pair
my_dict

{'name': 'John', 'age': 26, 'city': 'New York', 'gender': 'Male'}

In [27]:
removed_age = my_dict.pop('age')
my_dict

{'name': 'John', 'city': 'New York', 'gender': 'Male'}

In [28]:
last_item = my_dict.popitem()
my_dict

{'name': 'John', 'city': 'New York'}

In [30]:
keys_list = my_dict.keys()
keys_list

dict_keys(['name', 'city'])

In [31]:
values_list = my_dict.values()
values_list

dict_values(['John', 'New York'])

In [33]:
items_list = my_dict.items()
print(items_list)

dict_items([('name', 'John'), ('city', 'New York')])

In [34]:
age_value = my_dict.get('age', 0)  # Returns the age value or 0 if 'age' is not in the dictionary
age_value

0

In [35]:
other_dict = {'gender': 'Male', 'city': 'San Francisco'}
my_dict.update(other_dict)
my_dict

{'name': 'John', 'city': 'San Francisco', 'gender': 'Male'}

# Introduction to Set & Set Methods

In [44]:
# Creating a set
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

In [46]:
# Adding elements to a set
my_set.add(6)
my_set.update([7, 8, 9])
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [47]:
# Removing elements from a set
my_set.remove(3)
my_set.discard(10)  # No error if the element is not present
my_set

{1, 2, 4, 5, 6, 7, 8, 9}

In [49]:
# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

In [50]:
intersection_set = set1.intersection(set2)
intersection_set

{3}

In [51]:
difference_set = set1.difference(set2)
difference_set

{1, 2}

# Introduction to Map & Map Methods
# Mapping function

In [1]:
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4]
squared_numbers = map(square, numbers)
print(squared_numbers)
result_list = list(squared_numbers)
print(result_list)

<map object at 0x000002088E75CE20>
[1, 4, 9, 16]

 # String Function

In [54]:
my_string = "Hello, World!"
print(len(my_string))        
print(my_string.lower())       
print(my_string.split(','))
new_string = "python programming"
capitalized_string = new_string.capitalize()
print(capitalized_string)
titlecased_string = new_string.title()
print(titlecased_string)

13
hello, world!
['Hello', ' World!']
Python programming
Python Programming

 # Number Function

In [42]:
number = -5
absolute_value = abs(number)    
rounded_value = round(3.14159)  
print(absolute_value,rounded_value)

5 3

# Date and Time Function

In [71]:
from datetime import datetime, timedelta

current_time = datetime.now()
print(current_time)
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)
next_day = current_time + timedelta(days=1)
print(next_day)

2024-01-30 10:16:05.603412
2024-01-30 10:16:05
2024-01-31 10:16:05.603412

# Python Functions

In [72]:
def hello(name,age):
    print(f"Hello {name}, your age is {age}")
    return f"Hello {name}"

x=hello("nikita", 6)
print(x)

Hello nikita, your age is 6
Hello nikita

# Default Arguments

In [74]:
def power(base, exponent=2):
    return base ** exponent

result1 = power(3)     
print(result1)
result2 = power(3, 3) 
print(result2)

9
27

# Keyword Arguments

In [75]:
def print_info(name, age):
    print(f"Name: {name}, Age: {age}")

print_info(age=25, name="John")

Name: John, Age: 25

# Special parameters

In [76]:
def print_args(*args, **kwargs):
    print("Positional Arguments:", args)
    print("Keyword Arguments:", kwargs)

print_args(1, 2, 3, name="John", age=25)

Positional Arguments: (1, 2, 3)
Keyword Arguments: {'name': 'John', 'age': 25}

In [77]:
def sum_numbers(*args):
    return sum(args)

result = sum_numbers(1, 2, 3, 4)
print(result)

10

In [79]:
multiply = lambda x, y: x * y
result = multiply(3, 4)
print(result)

12

# OOPS

In [36]:
# Pet class
class Pet:
    def __init__(self, name, age, breed):
        self.Name = name
        self.Age = age
        self.Breed = breed
p = Pet("Aayu",20,"Girl")
print(p)

<__main__.Pet object at 0x000001F020E31C30>

In [55]:
# Access Specifiers
class MyClass:
    def __init__(self):
        self.public_attribute = 10
        self._protected_attribute = 20
        self.__private_attribute = 30

In [56]:
# Constructor
class Pet:
    def __init__(self, name, age, breed):
        self.Name = name
        self.Age = age
        self.Breed = breed

In [57]:
# Inheritance 
class Parent:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    # self is given because whenever any object calls any function self is passed as an argument automatically
    def color_of_eye(self): 
        print("Black")

class Child(Parent):
    def color_of_eye(self):
        print("brown")

In [58]:
c1 = Child("mitu" , 22)
c1.color_of_eye()

brown

In [59]:
# Polymorphism

class Animal:
    def bark(self):
        print("Animals bark")
class Dog(Animal):
    def bark(self):
        print("Dogs bark")
class Fish(Animal):
    def bark(self):
        print("Fish doesn't bark")

# def can_bark(obj):
#     obj.bark()

animals = [Dog(), Fish()]
for animal in animals:
    animal.bark()

Dogs bark
Fish doesn't bark

In [60]:
# Method Overriding
class Animal:
    def speak(self):
        return "Animal speaks"

class Dog(Animal):
    def speak(self):
        return "Dog barks"

# File Handling

In [62]:
myfile = open('myfile.txt')
type(myfile)

_io.TextIOWrapper

In [63]:
myfile.read()

'Hello !!\nFirst line\nSecond line\nThird Line'

In [64]:
myfile.read() # cursor moved to last in the above code

''

In [65]:
myfile.seek(0) # movinf cursor back to start
myfile.read()

'Hello !!\nFirst line\nSecond line\nThird Line'

In [67]:
myfile.seek(0)
myfile.readlines()

['Hello !!\n', 'First line\n', 'Second line\n', 'Third Line']

In [68]:
myfile.close()

In [69]:
with open('myfile.txt') as newfile:
    contents = newfile.read()
print(contents)

Hello !!
First line
Second line
Third Line

# Exception Handling

In [70]:
try :
    num = int(input("Enter a number :"))
    a = 100/num
    print("Hi")
    print(a)
except ZeroDivisionError:
    print("Zero can't divide any number")
except ValueError:
    print("Some error occured")
else:
    print("no exception")
finally:
    print("executed always")

Enter a number :3
Hi
33.333333333333336
no exception
executed always