In [0]:
import pyspark 
from pyspark.sql import SparkSession
 
# Create a spark session
spark = SparkSession.builder.appName('DataFrame_operations').getOrCreate()

In [0]:
df_read_format = spark.read.format("text").load("/FileStore/tables/Sample-1.txt")

# df_read_format.show()
 
df_read_format.selectExpr("split(value,' ') as Text_data_in_rows_using_format").show()

+------------------------------+
|Text_data_in_rows_using_format|
+------------------------------+
|          [work_year,job_ti...|
|          [2023,Data, DevOp...|
|          [2023,Data, Archi...|
|          [2023,Data, Archi...|
|          [2023,Data, Scien...|
|          [2023,Data, Scien...|
|          [2023,Data, Scien...|
|          [2023,Data, Scien...|
|          [2023,Machine, Le...|
|          [2023,Machine, Le...|
|          [2023,Data, Engin...|
|          [2023,Data, Engin...|
|          [2023,Machine, Le...|
|          [2023,Machine, Le...|
|          [2023,Data, Scien...|
|          [2023,Data, Scien...|
|          [2023,Data, Analy...|
|          [2023,Data, Analy...|
|          [2023,Data, Scien...|
|          [2023,Data, Scien...|
+------------------------------+

In [0]:
# Create data in dataframe
data = [(('Ram'), '1991-04-01', 'M', 3000),
       (('Mike'), '2000-05-19', 'M', 4000),
       (('Rohini'), '1978-09-05', 'M', 4000),
       (('Maria'), '1967-12-01', 'F', 4000),
       (('Jenis'), '1980-02-17', 'F', 1200)]
 
# Column names in dataframe
columns = ["Name", "DOB", "Gender", "salary"]
 
# Create the spark dataframe
df = spark.createDataFrame(data=data ,schema=columns)
 
# Print the dataframe
df.show()

+------+----------+------+------+
|  Name|       DOB|Gender|salary|
+------+----------+------+------+
|   Ram|1991-04-01|     M|  3000|
|  Mike|2000-05-19|     M|  4000|
|Rohini|1978-09-05|     M|  4000|
| Maria|1967-12-01|     F|  4000|
| Jenis|1980-02-17|     F|  1200|
+------+----------+------+------+

In [0]:
from pyspark.sql.functions import lit
df_addColumn = df.withColumn('Country',lit('India'))
df_addColumn.show()

+------+----------+------+------+-------+
|  Name|       DOB|Gender|salary|Country|
+------+----------+------+------+-------+
|   Ram|1991-04-01|     M|  3000|  India|
|  Mike|2000-05-19|     M|  4000|  India|
|Rohini|1978-09-05|     M|  4000|  India|
| Maria|1967-12-01|     F|  4000|  India|
| Jenis|1980-02-17|     F|  1200|  India|
+------+----------+------+------+-------+

In [0]:
from pyspark.sql.functions import concat_ws
df_concat = df_addColumn.withColumn("Name-Country",concat_ws("-",'Name','Country'))
df_concat.show()

+------+----------+------+------+-------+------------+
|  Name|       DOB|Gender|salary|Country|Name-Country|
+------+----------+------+------+-------+------------+
|   Ram|1991-04-01|     M|  3000|  India|   Ram-India|
|  Mike|2000-05-19|     M|  4000|  India|  Mike-India|
|Rohini|1978-09-05|     M|  4000|  India|Rohini-India|
| Maria|1967-12-01|     F|  4000|  India| Maria-India|
| Jenis|1980-02-17|     F|  1200|  India| Jenis-India|
+------+----------+------+------+-------+------------+

In [0]:
if 'Country' not in df.columns:
    df.withColumn("Country", lit('India')).show()

+------+----------+------+------+-------+
|  Name|       DOB|Gender|salary|Country|
+------+----------+------+------+-------+
|   Ram|1991-04-01|     M|  3000|  India|
|  Mike|2000-05-19|     M|  4000|  India|
|Rohini|1978-09-05|     M|  4000|  India|
| Maria|1967-12-01|     F|  4000|  India|
| Jenis|1980-02-17|     F|  1200|  India|
+------+----------+------+------+-------+

In [0]:
from pyspark.sql.functions import col
df.show()
# rename grouped column using select
df.groupBy("Gender").sum('salary').select(col('Gender'),col("sum(salary)").alias('Group_sum_Salary')).show()

+------+----------+------+------+
|  Name|       DOB|Gender|salary|
+------+----------+------+------+
|   Ram|1991-04-01|     M|  3000|
|  Mike|2000-05-19|     M|  4000|
|Rohini|1978-09-05|     M|  4000|
| Maria|1967-12-01|     F|  4000|
| Jenis|1980-02-17|     F|  1200|
+------+----------+------+------+

+------+----------------+
|Gender|Group_sum_Salary|
+------+----------------+
|     M|           11000|
|     F|            5200|
+------+----------------+

In [0]:
csv_file = spark.read.csv('/FileStore/tables/table1/jobs_in_data.csv', sep = ',', inferSchema = True, header = True)
csv_file.show()

+---------+--------------------+--------------------+---------------+------+-------------+------------------+----------------+---------------+------------+----------------+------------+
|work_year|           job_title|        job_category|salary_currency|salary|salary_in_usd|employee_residence|experience_level|employment_type|work_setting|company_location|company_size|
+---------+--------------------+--------------------+---------------+------+-------------+------------------+----------------+---------------+------------+----------------+------------+
|     2023|Data DevOps Engineer|    Data Engineering|            EUR| 88000|        95012|           Germany|       Mid-level|      Full-time|      Hybrid|         Germany|           L|
|     2023|      Data Architect|Data Architecture...|            USD|186000|       186000|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|      Data Architect|Data Architecture...|            USD| 81800|        81800|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            USD|212000|       212000|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            USD| 93300|        93300|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            USD|130000|       130000|     United States|          Senior|      Full-time|      Remote|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            USD|100000|       100000|     United States|          Senior|      Full-time|      Remote|   United States|           M|
|     2023|Machine Learning ...|Machine Learning ...|            USD|224400|       224400|     United States|       Mid-level|      Full-time|   In-person|   United States|           M|
|     2023|Machine Learning ...|Machine Learning ...|            USD|138700|       138700|     United States|       Mid-level|      Full-time|   In-person|   United States|           M|
|     2023|       Data Engineer|    Data Engineering|            USD|210000|       210000|     United States|       Executive|      Full-time|      Remote|   United States|           M|
|     2023|       Data Engineer|    Data Engineering|            USD|168000|       168000|     United States|       Executive|      Full-time|      Remote|   United States|           M|
|     2023|Machine Learning ...|Machine Learning ...|            USD|224400|       224400|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|Machine Learning ...|Machine Learning ...|            USD|138700|       138700|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            GBP| 35000|        43064|    United Kingdom|       Mid-level|      Full-time|   In-person|  United Kingdom|           M|
|     2023|      Data Scientist|Data Science and ...|            GBP| 30000|        36912|    United Kingdom|       Mid-level|      Full-time|   In-person|  United Kingdom|           M|
|     2023|        Data Analyst|       Data Analysis|            USD| 95000|        95000|     United States|     Entry-level|      Full-time|   In-person|   United States|           M|
|     2023|        Data Analyst|       Data Analysis|            USD| 75000|        75000|     United States|     Entry-level|      Full-time|   In-person|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            USD|300000|       300000|     United States|          Senior|      Full-time|   In-person|   United States|           M|
|     2023|      Data Scientist|Data Science and ...|            USD|234000|       234000|     United States|          Senior|      Full-time|   In-person|   United States|           M|
+---------+--------------------+--------------------+---------------+------+-------------+------------------+----------------+---------------+------------+----------------+------------+

In [0]:
test = spark.read.csv('/FileStore/tables/table1/jobs_in_data.csv')
test.printSchema() # header = False, infer = False bu default
csv_file.printSchema() # infer schema = True gives the data type to the columns according to the values and header = True is given to read first line as column names

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

root
 |-- work_year: integer (nullable = true)
 |-- job_title: string (nullable = true)
 |-- job_category: string (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- work_setting: string (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

In [0]:
csv_file.groupBy('job_title').sum('salary').show()

+--------------------+-----------+
|           job_title|sum(salary)|
+--------------------+-----------+
|Machine Learning ...|     363100|
|      Data Scientist|    1134300|
|        Data Analyst|     170000|
|Data DevOps Engineer|      88000|
|      Data Architect|     267800|
|Machine Learning ...|     363100|
|       Data Engineer|     378000|
+--------------------+-----------+

In [0]:
csv_file.groupBy('job_title').min('salary').show()

+--------------------+-----------+
|           job_title|min(salary)|
+--------------------+-----------+
|Machine Learning ...|     138700|
|      Data Scientist|      30000|
|        Data Analyst|      75000|
|Data DevOps Engineer|      88000|
|      Data Architect|      81800|
|Machine Learning ...|     138700|
|       Data Engineer|     168000|
+--------------------+-----------+

In [0]:
csv_file.groupBy('job_title').max('salary').show()

+--------------------+-----------+
|           job_title|max(salary)|
+--------------------+-----------+
|Machine Learning ...|     224400|
|      Data Scientist|     300000|
|        Data Analyst|      95000|
|Data DevOps Engineer|      88000|
|      Data Architect|     186000|
|Machine Learning ...|     224400|
|       Data Engineer|     210000|
+--------------------+-----------+

In [0]:
csv_file.groupBy('job_title').avg('salary').show()

+--------------------+-----------+
|           job_title|avg(salary)|
+--------------------+-----------+
|Machine Learning ...|   181550.0|
|      Data Scientist|   141787.5|
|        Data Analyst|    85000.0|
|Data DevOps Engineer|    88000.0|
|      Data Architect|   133900.0|
|Machine Learning ...|   181550.0|
|       Data Engineer|   189000.0|
+--------------------+-----------+

In [0]:
csv_file.groupBy('job_title').mean('salary').show()

+--------------------+-----------+
|           job_title|avg(salary)|
+--------------------+-----------+
|Machine Learning ...|   181550.0|
|      Data Scientist|   141787.5|
|        Data Analyst|    85000.0|
|Data DevOps Engineer|    88000.0|
|      Data Architect|   133900.0|
|Machine Learning ...|   181550.0|
|       Data Engineer|   189000.0|
+--------------------+-----------+

In [0]:
csv_file.groupBy('job_title').count().show()

+--------------------+-----+
|           job_title|count|
+--------------------+-----+
|Machine Learning ...|    2|
|      Data Scientist|    8|
|        Data Analyst|    2|
|Data DevOps Engineer|    1|
|      Data Architect|    2|
|Machine Learning ...|    2|
|       Data Engineer|    2|
+--------------------+-----+

In [0]:
csv_file.groupBy("employee_residence","job_title").sum("salary").show()

+------------------+--------------------+-----------+
|employee_residence|           job_title|sum(salary)|
+------------------+--------------------+-----------+
|     United States|       Data Engineer|     378000|
|     United States|Machine Learning ...|     363100|
|     United States|Machine Learning ...|     363100|
|    United Kingdom|      Data Scientist|      65000|
|     United States|        Data Analyst|     170000|
|     United States|      Data Scientist|    1069300|
|     United States|      Data Architect|     267800|
|           Germany|Data DevOps Engineer|      88000|
+------------------+--------------------+-----------+

In [0]:
csv_file.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|    2764300|
+-----------+

In [0]:
csv_file.groupBy("job_title").pivot("employee_residence").count().show()

+--------------------+-------+--------------+-------------+
|           job_title|Germany|United Kingdom|United States|
+--------------------+-------+--------------+-------------+
|Machine Learning ...|   null|          null|            2|
|      Data Scientist|   null|             2|            6|
|        Data Analyst|   null|          null|            2|
|Data DevOps Engineer|      1|          null|         null|
|      Data Architect|   null|          null|            2|
|Machine Learning ...|   null|          null|            2|
|       Data Engineer|   null|          null|            2|
+--------------------+-------+--------------+-------------+

In [0]:
df_null = spark.read.csv('/FileStore/tables/jobs_in_data___Copy.csv',header=True,inferSchema=True)
df_null.show()

+---------+--------------------+------+------------------+------------+----------------+
|work_year|           job_title|salary|employee_residence|work_setting|company_location|
+---------+--------------------+------+------------------+------------+----------------+
|     2023|Data DevOps Engineer| 88000|           Germany|      Hybrid|         Germany|
|     2023|      Data Architect|186000|     United States|   In-person|   United States|
|     2023|      Data Architect| 81800|              null|   In-person|   United States|
|     2023|      Data Scientist|212000|     United States|   In-person|   United States|
|     2023|                null| 93300|     United States|   In-person|   United States|
|     2023|      Data Scientist|130000|     United States|      Remote|   United States|
|     2023|      Data Scientist|100000|     United States|      Remote|            null|
|     null|Machine Learning ...|  null|     United States|   In-person|   United States|
|     2023|Machine Learning ...|138700|     United States|        null|   United States|
|     2023|       Data Engineer|210000|     United States|      Remote|   United States|
|     2023|                null|168000|     United States|      Remote|   United States|
|     2023|Machine Learning ...|224400|     United States|   In-person|   United States|
|     2023|Machine Learning ...|138700|     United States|   In-person|   United States|
|     2023|      Data Scientist| 35000|    United Kingdom|   In-person|  United Kingdom|
|     2023|      Data Scientist| 30000|    United Kingdom|   In-person|  United Kingdom|
|     2023|        Data Analyst| 95000|              null|   In-person|   United States|
|     2023|        Data Analyst| 75000|     United States|   In-person|   United States|
|     2023|      Data Scientist|300000|     United States|   In-person|   United States|
|     2023|                null|234000|     United States|   In-person|   United States|
+---------+--------------------+------+------------------+------------+----------------+

In [0]:
df_null.na.drop().show()

+---------+--------------------+------+------------------+------------+----------------+
|work_year|           job_title|salary|employee_residence|work_setting|company_location|
+---------+--------------------+------+------------------+------------+----------------+
|     2023|Data DevOps Engineer| 88000|           Germany|      Hybrid|         Germany|
|     2023|      Data Architect|186000|     United States|   In-person|   United States|
|     2023|      Data Scientist|212000|     United States|   In-person|   United States|
|     2023|      Data Scientist|130000|     United States|      Remote|   United States|
|     2023|       Data Engineer|210000|     United States|      Remote|   United States|
|     2023|Machine Learning ...|224400|     United States|   In-person|   United States|
|     2023|Machine Learning ...|138700|     United States|   In-person|   United States|
|     2023|      Data Scientist| 35000|    United Kingdom|   In-person|  United Kingdom|
|     2023|      Data Scientist| 30000|    United Kingdom|   In-person|  United Kingdom|
|     2023|        Data Analyst| 75000|     United States|   In-person|   United States|
|     2023|      Data Scientist|300000|     United States|   In-person|   United States|
+---------+--------------------+------+------------------+------------+----------------+

In [0]:
df_null.na.drop(how='all').show() # all values should be null to get removed

+---------+--------------------+------+------------------+------------+----------------+
|work_year|           job_title|salary|employee_residence|work_setting|company_location|
+---------+--------------------+------+------------------+------------+----------------+
|     2023|Data DevOps Engineer| 88000|           Germany|      Hybrid|         Germany|
|     2023|      Data Architect|186000|     United States|   In-person|   United States|
|     2023|      Data Architect| 81800|              null|   In-person|   United States|
|     2023|      Data Scientist|212000|     United States|   In-person|   United States|
|     2023|                null| 93300|     United States|   In-person|   United States|
|     2023|      Data Scientist|130000|     United States|      Remote|   United States|
|     2023|      Data Scientist|100000|     United States|      Remote|            null|
|     null|Machine Learning ...|  null|     United States|   In-person|   United States|
|     2023|Machine Learning ...|138700|     United States|        null|   United States|
|     2023|       Data Engineer|210000|     United States|      Remote|   United States|
|     2023|                null|168000|     United States|      Remote|   United States|
|     2023|Machine Learning ...|224400|     United States|   In-person|   United States|
|     2023|Machine Learning ...|138700|     United States|   In-person|   United States|
|     2023|      Data Scientist| 35000|    United Kingdom|   In-person|  United Kingdom|
|     2023|      Data Scientist| 30000|    United Kingdom|   In-person|  United Kingdom|
|     2023|        Data Analyst| 95000|              null|   In-person|   United States|
|     2023|        Data Analyst| 75000|     United States|   In-person|   United States|
|     2023|      Data Scientist|300000|     United States|   In-person|   United States|
|     2023|                null|234000|     United States|   In-person|   United States|
+---------+--------------------+------+------------------+------------+----------------+

In [0]:
df_null.na.drop(thresh=5).show() # atleast 5 non-null values should be there in row to be in result

+---------+--------------------+------+------------------+------------+----------------+
|work_year|           job_title|salary|employee_residence|work_setting|company_location|
+---------+--------------------+------+------------------+------------+----------------+
|     2023|Data DevOps Engineer| 88000|           Germany|      Hybrid|         Germany|
|     2023|      Data Architect|186000|     United States|   In-person|   United States|
|     2023|      Data Architect| 81800|              null|   In-person|   United States|
|     2023|      Data Scientist|212000|     United States|   In-person|   United States|
|     2023|                null| 93300|     United States|   In-person|   United States|
|     2023|      Data Scientist|130000|     United States|      Remote|   United States|
|     2023|      Data Scientist|100000|     United States|      Remote|            null|
|     2023|Machine Learning ...|138700|     United States|        null|   United States|
|     2023|       Data Engineer|210000|     United States|      Remote|   United States|
|     2023|                null|168000|     United States|      Remote|   United States|
|     2023|Machine Learning ...|224400|     United States|   In-person|   United States|
|     2023|Machine Learning ...|138700|     United States|   In-person|   United States|
|     2023|      Data Scientist| 35000|    United Kingdom|   In-person|  United Kingdom|
|     2023|      Data Scientist| 30000|    United Kingdom|   In-person|  United Kingdom|
|     2023|        Data Analyst| 95000|              null|   In-person|   United States|
|     2023|        Data Analyst| 75000|     United States|   In-person|   United States|
|     2023|      Data Scientist|300000|     United States|   In-person|   United States|
|     2023|                null|234000|     United States|   In-person|   United States|
+---------+--------------------+------+------------------+------------+----------------+

In [0]:
df_null.na.drop(subset='job_title').show()

+---------+--------------------+------+------------------+------------+----------------+
|work_year|           job_title|salary|employee_residence|work_setting|company_location|
+---------+--------------------+------+------------------+------------+----------------+
|     2023|Data DevOps Engineer| 88000|           Germany|      Hybrid|         Germany|
|     2023|      Data Architect|186000|     United States|   In-person|   United States|
|     2023|      Data Architect| 81800|              null|   In-person|   United States|
|     2023|      Data Scientist|212000|     United States|   In-person|   United States|
|     2023|      Data Scientist|130000|     United States|      Remote|   United States|
|     2023|      Data Scientist|100000|     United States|      Remote|            null|
|     null|Machine Learning ...|  null|     United States|   In-person|   United States|
|     2023|Machine Learning ...|138700|     United States|        null|   United States|
|     2023|       Data Engineer|210000|     United States|      Remote|   United States|
|     2023|Machine Learning ...|224400|     United States|   In-person|   United States|
|     2023|Machine Learning ...|138700|     United States|   In-person|   United States|
|     2023|      Data Scientist| 35000|    United Kingdom|   In-person|  United Kingdom|
|     2023|      Data Scientist| 30000|    United Kingdom|   In-person|  United Kingdom|
|     2023|        Data Analyst| 95000|              null|   In-person|   United States|
|     2023|        Data Analyst| 75000|     United States|   In-person|   United States|
|     2023|      Data Scientist|300000|     United States|   In-person|   United States|
+---------+--------------------+------+------------------+------------+----------------+

In [0]:
df_null.na.fill('Missing Values').show()

+---------+--------------------+------+------------------+--------------+----------------+
|work_year|           job_title|salary|employee_residence|  work_setting|company_location|
+---------+--------------------+------+------------------+--------------+----------------+
|     2023|Data DevOps Engineer| 88000|           Germany|        Hybrid|         Germany|
|     2023|      Data Architect|186000|     United States|     In-person|   United States|
|     2023|      Data Architect| 81800|    Missing Values|     In-person|   United States|
|     2023|      Data Scientist|212000|     United States|     In-person|   United States|
|     2023|      Missing Values| 93300|     United States|     In-person|   United States|
|     2023|      Data Scientist|130000|     United States|        Remote|   United States|
|     2023|      Data Scientist|100000|     United States|        Remote|  Missing Values|
|     null|Machine Learning ...|  null|     United States|     In-person|   United States|
|     2023|Machine Learning ...|138700|     United States|Missing Values|   United States|
|     2023|       Data Engineer|210000|     United States|        Remote|   United States|
|     2023|      Missing Values|168000|     United States|        Remote|   United States|
|     2023|Machine Learning ...|224400|     United States|     In-person|   United States|
|     2023|Machine Learning ...|138700|     United States|     In-person|   United States|
|     2023|      Data Scientist| 35000|    United Kingdom|     In-person|  United Kingdom|
|     2023|      Data Scientist| 30000|    United Kingdom|     In-person|  United Kingdom|
|     2023|        Data Analyst| 95000|    Missing Values|     In-person|   United States|
|     2023|        Data Analyst| 75000|     United States|     In-person|   United States|
|     2023|      Data Scientist|300000|     United States|     In-person|   United States|
|     2023|      Missing Values|234000|     United States|     In-person|   United States|
+---------+--------------------+------+------------------+--------------+----------------+

In [0]:
df_null.na.fill(0).show()

+---------+--------------------+------+------------------+------------+----------------+
|work_year|           job_title|salary|employee_residence|work_setting|company_location|
+---------+--------------------+------+------------------+------------+----------------+
|     2023|Data DevOps Engineer| 88000|           Germany|      Hybrid|         Germany|
|     2023|      Data Architect|186000|     United States|   In-person|   United States|
|     2023|      Data Architect| 81800|              null|   In-person|   United States|
|     2023|      Data Scientist|212000|     United States|   In-person|   United States|
|     2023|                null| 93300|     United States|   In-person|   United States|
|     2023|      Data Scientist|130000|     United States|      Remote|   United States|
|     2023|      Data Scientist|100000|     United States|      Remote|            null|
|        0|Machine Learning ...|     0|     United States|   In-person|   United States|
|     2023|Machine Learning ...|138700|     United States|        null|   United States|
|     2023|       Data Engineer|210000|     United States|      Remote|   United States|
|     2023|                null|168000|     United States|      Remote|   United States|
|     2023|Machine Learning ...|224400|     United States|   In-person|   United States|
|     2023|Machine Learning ...|138700|     United States|   In-person|   United States|
|     2023|      Data Scientist| 35000|    United Kingdom|   In-person|  United Kingdom|
|     2023|      Data Scientist| 30000|    United Kingdom|   In-person|  United Kingdom|
|     2023|        Data Analyst| 95000|              null|   In-person|   United States|
|     2023|        Data Analyst| 75000|     United States|   In-person|   United States|
|     2023|      Data Scientist|300000|     United States|   In-person|   United States|
|     2023|                null|234000|     United States|   In-person|   United States|
+---------+--------------------+------+------------------+------------+----------------+

In [0]:
df_null.sort('salary').show()

+---------+--------------------+------+------------------+------------+----------------+
|work_year|           job_title|salary|employee_residence|work_setting|company_location|
+---------+--------------------+------+------------------+------------+----------------+
|     null|Machine Learning ...|  null|     United States|   In-person|   United States|
|     2023|      Data Scientist| 30000|    United Kingdom|   In-person|  United Kingdom|
|     2023|      Data Scientist| 35000|    United Kingdom|   In-person|  United Kingdom|
|     2023|        Data Analyst| 75000|     United States|   In-person|   United States|
|     2023|      Data Architect| 81800|              null|   In-person|   United States|
|     2023|Data DevOps Engineer| 88000|           Germany|      Hybrid|         Germany|
|     2023|                null| 93300|     United States|   In-person|   United States|
|     2023|        Data Analyst| 95000|              null|   In-person|   United States|
|     2023|      Data Scientist|100000|     United States|      Remote|            null|
|     2023|      Data Scientist|130000|     United States|      Remote|   United States|
|     2023|Machine Learning ...|138700|     United States|        null|   United States|
|     2023|Machine Learning ...|138700|     United States|   In-person|   United States|
|     2023|                null|168000|     United States|      Remote|   United States|
|     2023|      Data Architect|186000|     United States|   In-person|   United States|
|     2023|       Data Engineer|210000|     United States|      Remote|   United States|
|     2023|      Data Scientist|212000|     United States|   In-person|   United States|
|     2023|Machine Learning ...|224400|     United States|   In-person|   United States|
|     2023|                null|234000|     United States|   In-person|   United States|
|     2023|      Data Scientist|300000|     United States|   In-person|   United States|
+---------+--------------------+------+------------------+------------+----------------+

In [0]:
emp = [(1,"Smith",-1,"2018","10","M",3000),
       (2, "Rose",1 , "2010", "20","M", 4000),
       (3,"Williams",1,"2010","10","M",1000),
       (4, "Jones",2 ,"2005","10","F",2000),
       (5,"Brown",2,"2010","40","",-1),
       (6, "Brown", 2, "2010","50","",-1)]
empColumns = ["emp_id","name","superior_emp_id","year_joined", "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show()

dept = [("Finance",10),("Marketing",20),("Sales",30),("IT",40)]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     5|   Brown|              2|       2010|         40|      |    -1|
|     6|   Brown|              2|       2010|         50|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"inner") .show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"outer").show()
#Or instead of outer we can give full Or fullouter

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"left").show()
# Or leftouter

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"right").show()
# Or rightouter

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftsemi").show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     5|   Brown|              2|       2010|         40|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftanti").show()

+------+-----+---------------+-----------+-----------+------+------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+-----+---------------+-----------+-----------+------+------+
|     6|Brown|              2|       2010|         50|      |    -1|
+------+-----+---------------+-----------+-----------+------+------+