In [5]:
# reading csv using csv.reader
import csv
rows = []
with open("Employees.csv", 'r') as file:
    csvreader = csv.reader(file)
    header = next(csvreader)
    for row in csvreader:
        rows.append(row)
    print(header)
    print(rows)

['EmpID', 'Name', 'Salary']
[['e101', 'Pramod', '1200000'], ['e120', 'Dinesh', '2200000'], ['e205', 'Sabesta', '1500000'], ['e331', 'Harry', '1700000'], ['e421', 'Avinash', '1300000'], ['e231', 'Joy', '2300000'], ['e222', 'Smith', '2100000'], ['e339', 'Khan', '1800000'], ['e150', 'Dilip', '1900000'], ['e131', 'Kiran', '800000']]

In [3]:
# reading csv using pandas
import pandas as pd 
data = pd.read_csv("Employees.csv")
print(data)
print(data.columns) # retreives header names
print(data.Salary) # retrieves rows for Salary column

  EmpID     Name   Salary
0  e101   Pramod  1200000
1  e120   Dinesh  2200000
2  e205  Sabesta  1500000
3  e331    Harry  1700000
4  e421  Avinash  1300000
5  e231      Joy  2300000
6  e222    Smith  2100000
7  e339     Khan  1800000
8  e150    Dilip  1900000
9  e131    Kiran   800000
Index(['EmpID', 'Name', 'Salary'], dtype='object')
0    1200000
1    2200000
2    1500000
3    1700000
4    1300000
5    2300000
6    2100000
7    1800000
8    1900000
9     800000
Name: Salary, dtype: int64

In [4]:
# reading csv using readlines()
with open('Employees.csv') as file:
    content = file.readlines()
header = content[:1]
rows = content[1:]
print(header)
print(rows)

['EmpID,Name,Salary\n']
['e101,Pramod,1200000\n', 'e120,Dinesh,2200000\n', 'e205,Sabesta,1500000\n', 'e331,Harry,1700000\n', 'e421,Avinash,1300000\n', 'e231,Joy,2300000\n', 'e222,Smith,2100000\n', 'e339,Khan,1800000\n', 'e150,Dilip,1900000\n', 'e131,Kiran,800000']

In [6]:
# reading csv using DictReader()
import csv
with open('Employees.csv','r') as file:
    reader = csv.DictReader(file)
    for row in reader:
        print(row)

{'EmpID': 'e101', 'Name': 'Pramod', 'Salary': '1200000'}
{'EmpID': 'e120', 'Name': 'Dinesh', 'Salary': '2200000'}
{'EmpID': 'e205', 'Name': 'Sabesta', 'Salary': '1500000'}
{'EmpID': 'e331', 'Name': 'Harry', 'Salary': '1700000'}
{'EmpID': 'e421', 'Name': 'Avinash', 'Salary': '1300000'}
{'EmpID': 'e231', 'Name': 'Joy', 'Salary': '2300000'}
{'EmpID': 'e222', 'Name': 'Smith', 'Salary': '2100000'}
{'EmpID': 'e339', 'Name': 'Khan', 'Salary': '1800000'}
{'EmpID': 'e150', 'Name': 'Dilip', 'Salary': '1900000'}
{'EmpID': 'e131', 'Name': 'Kiran', 'Salary': '800000'}

In [11]:

import numpy as np
data = np.array([1,2,3,4])
print(data)
print(type(data))

[1 2 3 4]
<class 'numpy.ndarray'>

In [12]:
# reading csv file as list
import csv
with open("Employees.csv", 'r') as file:
    csvreader = csv.reader(file)
    print(csvreader)
    list_csv = list(csvreader)
    print(list_csv)

<_csv.reader object at 0x0000015B250B02E0>
[['EmpID', 'Name', 'Salary'], ['e101', 'Pramod', '1200000'], ['e120', 'Dinesh', '2200000'], ['e205', 'Sabesta', '1500000'], ['e331', 'Harry', '1700000'], ['e421', 'Avinash', '1300000'], ['e231', 'Joy', '2300000'], ['e222', 'Smith', '2100000'], ['e339', 'Khan', '1800000'], ['e150', 'Dilip', '1900000'], ['e131', 'Kiran', '800000']]

In [13]:
# creating dataframe using dictionary
import pandas as pd 
  
# Creating Dictionary 
dict = { 
    'series': ['Friends', 'Money Heist', 'Marvel'], 
    'episodes': [200, 50, 45], 
    'actors': [' David Crane', 'Alvaro', 'Stan Lee'] 
} 
  
# Creating Dataframe 
df = pd.DataFrame(dict) 
print(df)

        series  episodes        actors
0      Friends       200   David Crane
1  Money Heist        50        Alvaro
2       Marvel        45      Stan Lee

In [14]:
# Creating Series using numpy array
import pandas as pd 
import numpy as np
data = np.array([1,2,3,4])
print(data)
pd_series = pd.Series()
print(pd_series)
pd_series = pd.Series(data)
print(pd_series)

[1 2 3 4]
Series([], dtype: float64)
0    1
1    2
2    3
3    4
dtype: int32

C:\Users\mitus\AppData\Local\Temp\ipykernel_3432\261018664.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd_series = pd.Series()

In [15]:
import csv 
  
with open('Employees.csv') as csvfile: 
    
    # Return a reader object which will 
    # iterate over lines in the given csvfile. 
    readCSV = csv.reader(csvfile, delimiter=',') 
    for row in readCSV: 
        print(row) 
        print(row[0]) 
        print(row[0], row[1], row[2],) 
        print("\n")

['EmpID', 'Name', 'Salary']
EmpID
EmpID Name Salary


['e101', 'Pramod', '1200000']
e101
e101 Pramod 1200000


['e120', 'Dinesh', '2200000']
e120
e120 Dinesh 2200000


['e205', 'Sabesta', '1500000']
e205
e205 Sabesta 1500000


['e331', 'Harry', '1700000']
e331
e331 Harry 1700000


['e421', 'Avinash', '1300000']
e421
e421 Avinash 1300000


['e231', 'Joy', '2300000']
e231
e231 Joy 2300000


['e222', 'Smith', '2100000']
e222
e222 Smith 2100000


['e339', 'Khan', '1800000']
e339
e339 Khan 1800000


['e150', 'Dilip', '1900000']
e150
e150 Dilip 1900000


['e131', 'Kiran', '800000']
e131
e131 Kiran 800000

In [21]:
import pandas as pd
df = pd.DataFrame()
print(df)
lst = [1,2,3,4,5,'Mitushi']
df = pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
         0
0        1
1        2
2        3
3        4
4        5
5  Mitushi

In [1]:
lst = [1, 2, 1, 1, 3, 4, 3, 3, 5]
dict.fromkeys(lst)
# unique_list_1 = list(dict.fromkeys(lst))

{1: None, 2: None, 3: None, 4: None, 5: None}